@use '/src/assets/variables.scss' as v;

.footer-root {
  height: 600px;
  position: relative;
  margin-top: 200px;
  background-color: v.$secondary;

  .footer-container {
    position: relative;
    height: 100%;

    .footer-image-divider {
      width: 240px;
      height: 240px;
      border: 1px solid;
      border-radius: 50%;
      border-color: v.$primary;
      background-color: #fff;
      position: absolute;
      top: -120px;
      z-index: 1;
    }

    .footer-content {
      margin: 0 auto;
      display: flex;
      padding-top: 140px;
    }

    .footer-end {
      margin: 0 auto;
      display: flex;
      position: absolute;
      bottom: 0;
      padding-bottom: 60px;
    }
  }
}
